/* 
    color: rgb(32, 32, 32);    
    color: rgb(75, 75, 75);
    background-color: rgb(247, 247, 247);
    background-color: rgb(241, 245, 248);
    background-color: rgb(227, 229, 230);
    background-color: rgb(69, 111, 231);
    
    background-color: rgb(101, 204, 110);
    background-color: rgb(226, 93, 93);


*/
/* 
     Bordes internos 
    box-shadow: inset 0 0 0 1px black; 
*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(241, 245, 248);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}